---
/* Awards section */
---
<div class="bg-neutral-900 border border-green-500 p-4 rounded-lg shadow-md">
    <h3 class="text-center font-semibold">Awards</h3>
    <p class="text-center text-sm">7 Awards</p>
    <div class="flex justify-center gap-4 mt-4">
      <img src="https://assets.leetcode.com/static_assets/public/images/badges/guardian.png" alt="Guardian Award" class="w-20 h-20">
      <img src="https://assets.leetcode.com/static_assets/others/lg2550.png" alt="50 Days Badge" class="w-20 h-20">
      <img src="https://assets.leetcode.com/static_assets/public/images/badges/dcc-2025-2.png" alt="Feb Challenge" class="w-20 h-20">
      <img src="https://assets.leetcode.com/static_assets/public/images/badges/dcc-2025-1.png" alt="Jan Challenge" class="w-20 h-20">
    </div>
    <div class="text-center mt-2">
      <button class="px-4 py-2 bg-gradient-to-r from-green-400 to-green-600 text-white rounded hover:from-green-500 hover:to-green-700 transition">
        Show More
      </button>
    </div>
  </div>
  